.header {
  position: relative;
  background:  linear-gradient(158deg, #4B95D1 13.27%, #4584BF 23.81%, #35558C 56.26%, #2B376D 80.6%, #282D62 94.39%);
  overflow: hidden;

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__image {
    width: 100%;
  }
}
